.section_box{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
    border-top: 1px solid var(--color-lightBlue);
    
    gap: 2rem;

    margin-bottom: 1rem;
}

.contact_nav{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2.5rem;
}

.div_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon_nav{
    width: 30px;
}


@media screen and (min-width: 1118px){
    .section_box{
        height: 40vh;
        gap: 5rem;
    }

    .contact_nav{
        flex-direction: row;
        align-self: center;
        align-items: first baseline;

        gap: 5.5rem;
    }
}
