:root{
    --font-primary: 'Ubuntu', sans-serif;
    --font-secondary: 'Inter', sens-serif;

    --color-white: #F0F0F2;
    --color-blue: #010826;
    --color-lightBlue: rgba(105, 164, 216, 0.706);
    --color-grey: #a1a1a1;

    scroll-behavior: smooth;
}

body{
    background: var(--color-blue);
}

.btn{
    width: 100px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background-color:var(--color-lightBlue);
}

#btn_card{
    background-color: var(--color-blue); 
}

::-webkit-scrollbar{
    width: 0.55rem;
}

::-webkit-scrollbar-thumb {
    background: var(--color-lightBlue);
}
