.container{
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

.container.header{
    box-shadow: 0px 1px 10px var(--color-grey);
}

.container.footer{
    padding: 0.45rem 0;
    box-shadow: 0px 1px 10px var(--color-grey);
    text-align: center;
}
