.title{
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.5;

    color: var(--color-white);
    
}

.title.md{
    font-size: 1.75rem;
}

.title.sm{
    font-size: 1.5rem;
    color: #A0CCF2;
}

.title.xsm{
    font-size: 1.10rem;
}

.paragraph{
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8;

    color: var(--color-white);
}

.paragraph.sm{
    font-size: 0.85rem;
}

.text{
    font-family: var(--font-primary);
    font-weight: 500;
    line-height: 1.4;
    font-size: 1.2rem;

    color: var(--color-white);
}

.text.btn{
    font-size: 1rem;
}

span{
    color: #A0CCF2;
}