.header_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav_button{
    width: 29px;
}

@media screen and (min-width: 991px) {
    .nav_box{
        display: flex;
        flex-direction: row;

        gap: 3rem;
    }

    .nav_button{
        display: none;

    }
}

@media screen and (max-width: 991px) {
   .nav_box{
        display: none;
   }

   .nav_button{
        display: block;
   }

   .menu{
        width: 90%;
        height: 50vh;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        gap: 5;
        
        position: absolute;
        top: 150px;
        
        background: rgba(100, 100, 100, 0.979);
        border-radius: 10px;
        box-shadow: 1px 1px 10px #A0CCF2;
   }

   .nav_menu{
        display: flex;
        flex-direction: column;

        gap: 5rem;

        font-size: 2rem;
   }

   .nav_menu>li :focus{
        color: var(--color-blue);
   }
}
