.section_box{
    height: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 2.5rem;

    padding: 0;
}

.div_btns_section{
    display: flex;
    flex-direction: row;

    gap: 4rem;
}


/* .section_box{
    height: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 2rem;

    padding: 5rem;
}

.div_btns_section{
    display: flex;
    flex-direction: row;

    gap: 4rem;
} */
