.ul_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 2.75rem;
}

@media screen and (min-width: 900px) {
    .ul_box{
        height: max-content;

        flex-direction: row;

        margin-inline: 1rem;
    }
}
