.card{
    width: 100%;
}

.card_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card_img{
    width: 100%;
    border-radius: 10px;
    position: relative;
    
    border-bottom: 4px solid var(--color-lightBlue);
}

.card_container:hover .card_img{   
    border-bottom: 4px solid var(--color-white);
}

.card_infos{
    display: none;

    position: absolute;
}

.card_bannerInfos{
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    background-color:  rgba(25, 51, 73, 0.48);
}

.card_container:hover .card_infos{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;

    border-radius: 10px;
    background-color: rgba(110, 110, 110, 0.2); 
}

.card_btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

@media(min-width: 900px) {
    .card{
        width: 45%;
    }
}
